.board-badge-counter {
  margin-right: 5px;
  background-color: var(--dynamic-button-hovered, #091E4224);
  border-radius: 3px;
  padding: 6px 8px;
  color: var(--dynamic-text, #172b4d);
}

.list-badge-counter {
  padding: 6px 10px;
  border-radius: 8px;
  background-color: var(--ds-background-neutral-hovered, #091e4224);
}

.card-identifier {
  position: absolute;
  height: 8px;
  right: 3px;
  top: 3px;
  display: flex;
  align-items: center;
  font-size: 70%;
  color: var(--ds-text, #172b4d);
}
